.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
.input-area {
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input-item {
    font-size: 38px;
    text-align: center;
    width: 100%;
    height: 40%;
    margin: 10px;
}
.search-btn {
    margin-top: 50px;
    width: 40%;
    height: 50px;
}
